src/ghx/hlclient.c
src/ghx/hx_tty.c
src/ghx/hxd.c
src/hx/hldump.c
src/hx/hxd.c
src/hxd/hldump.c
src/hxd/hxd.c
src/hxtrackd/hxd.c

src/acctedit/acctedit
src/conf/genconf
src/ghx/ghx
src/hx/hx
src/hxd/hxd
src/hxtrackd/hxtrackd

src/*/.deps
src/*/*.o
src/*/*.a

src/*/Makefile
src/*/Makefile.in
src/Makefile
src/Makefile.in
Makefile.in
Makefile

aclocal.m4
autom4te.cache

config.h
config.h.in
config.log
config.status

configure
configure~
stamp-h1
libtool

libltdl
cfgaux
